<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Employee</title>
  <style>
    form {
      border-style: double;
      height: 80%;
      margin: 1% 1% 1% 1%;
      padding: 1%;
    }
  </style>
</head>

<body>

  <div>
    <form #ticketRef="ngForm" (ngSubmit)="raiseTicket(ticketRef.value)">
      <h1><b>Raise Ticket</b></h1> 
      <h3>
        Description
        <br />
 
      <input type="text" name="description" [(ngModel)]="description" required />
      </h3>
      <input type="submit" value="RaiseTicket" />
      <div>
        {{message}}
      </div>
    </form>
  </div>
</body>
</html>
