<main>
    <form class="product-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required [(ngModel)]="product.name">
            <label for="imageUrl">Upload image</label>
            <input type="text" name="imageUrl" id="imageUrl" required [(ngModel)]="product.imageUrl">                
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" required [(ngModel)]="product.price">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" required [(ngModel)]="product.description"></textarea>
        </div> 
        <button type="submit" class="btn">Submit</button>
    </form>
  </main>
