<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<table style=" display: flex; flex-flow: column;">
  <thead>
    <tr class="row" style="padding-top: 20px; padding-bottom: 20px; padding-right: 16px; background-color: seashell; border-bottom: 3px solid black; margin: 0; height: inherit;">
      <th class="col" style="padding: 0; text-align: center; display: flex; justify-content: center; align-items: center;"><div>Username</div></th>
      <th class="col" style="padding: 0; text-align: center; display: flex; justify-content: center; align-items: center;"><div>Email</div></th>
      <th class="col" style="padding: 0; text-align: center; display: flex; justify-content: center; align-items: center;"><div>First Name</div></th>
      <th class="col" style="padding: 0; text-align: center; display: flex; justify-content: center; align-items: center;"><div>Last Name</div></th>
      <th class="col" style="padding: 0; text-align: center; display: flex; justify-content: center; align-items: center;">
        <form [formGroup]="searchRef" class="example" (ngSubmit)="search()">
          <input type="text" placeholder="Email Search" formControlName="email" >
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </th>
    </tr>
  </thead>
  <tbody style="flex-grow : 1; overflow-y: scroll; display:block">
    <button *ngFor="let user of lockedAccounts; let i = index" style="width: 100%; border: none; outline: none; padding: 0;" (click)="unlock(i)" #tbody [ngStyle]="{backgroundColor: i % 2 !== 0 ? 'rgba(226, 248, 231, 0.97)' : 'rgba(190, 239, 200, 0.97)'}">
      <tr class="row" style="padding-top: 10px; padding-bottom: 10px; margin: 0;" >
        <th class="col" style="padding: 0; text-align: center; display: block; width: 20px; word-wrap: break-word; margin: auto;"><div>{{user.userName}}</div></th>
        <th class="col" style="padding: 0; text-align: center; display: block; width: 20px; word-wrap: break-word; margin: auto;"><div>{{user.email}}</div></th>
        <th class="col" style="padding: 0; text-align: center; display: block; width: 20px; word-wrap: break-word; margin: auto;"><div>{{user.firstName}}</div></th>
        <th class="col" style="padding: 0; text-align: center; display: block; width: 20px; word-wrap: break-word; margin: auto;"><div>{{user.lastName}}</div></th>
        <th class="col" style="padding: 0; text-align: center; display: block; width: 20px; word-wrap: break-word; margin: auto;">
          <mat-checkbox (click)="unlock(i)" #checkbox></mat-checkbox>
        </th>
      </tr>
    </button>
  </tbody>
  <tfoot>
    <tr class="row" style="padding-top: 20px; padding-bottom: 20px; background-color: seashell; border-top: 3px solid black; margin: 0; height: inherit;">
      <div style="display: flex; justify-content: flex-end; width: 100%; padding-right: 20px;"><button class="btn btn-primary" style="width: fit-content;">unlock Accounts</button></div>
    </tr>
  </tfoot>
</table>

