<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">      
      <li class="main-header__item">
        <a routerLink="prodList" routerLinkActive="active">Products</a>
      </li>
      <li class="main-header__item">
        <a routerLink="prodAdd" routerLinkActive="active">Adding Products</a>
      </li>
      <li class="main-header__item">
        <a routerLink="login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </nav>
</header>
