<div class="col">
  <div class="container-md" style="text-align: center;">
    <a style="float: right;" href="/">Log Out</a>
    <h2>Admin Portal</h2>

  </div>
  <div style="text-align:center;">

    <button type="button" class="btn btn-primary" id="products">Add Products</button>
    <br />
    <br />
    <button type="button" class="btn btn-primary" id="products">Delete Prodcuts</button>
    <br />
    <br />
    <button type="button" class="btn btn-primary" id="products">Update Products</button>
    <br />
    <br />
    <button type="button" class="btn btn-primary" id="products">View Requests</button>
    <br />
    <br />
    <button type="button" class="btn btn-primary" id="employees">Add Employee</button>
    <br />
    <br />
    <button type="button" class="btn btn-primary" id="employees">Delete Employee</button>
    <br />
    <br />
    <button type="button" class="btn btn-primary" id="employees">General Reports</button>
  </div>

</div>
