<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="nav navbar-light bg-light" style="padding: 20px; border-bottom: solid black 1px; ">
  <a class="navbar-brand" routerLink="/employeePortal/orders" style="color: black;">Employee </a>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link router-link" routerLink="/employeePortal/orders">Update Orders</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link router-link" routerLink="/employeePortal/unlock">Unlock Accounts</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link router-link" routerLink="/employeePortal/edit">Change Password</a>
  </li>
</nav>
<router-outlet></router-outlet>
