<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Employee</title>
  <style>
    form {
      border-style: double;
      height: 80%;
      margin: 1% 1% 1% 1%;
      padding: 1%;
    }
  </style>
</head>

<body>

  <form #employeeRef="ngForm" (ngSubmit)="deleteEmployee(employeeRef.value)">
    <h1><b>Delete Employee</b></h1>
    <h3>
      Email
      <br />
      <input type="text" name="email" [(ngModel)]="email" required />
    </h3>
    <input type="reset" value="Clear" />
    <input type="submit" value="Delete Employee" />
  </form>
</body>
</html>
