<header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a class="nav-link router-link" routerLink="/prodPortal/products" routerLinkActive="active">Products</a>
        </li>
        <li class="main-header__item">
          <a class="nav-link router-link" routerLink="/prodPortal/cart" routerLinkActive="active">Adding Products</a>
        </li>
        <li class="main-header__item">
          <a class="nav-link router-link" routerLink="/prodPortal/status" routerLinkActive="active">Order Status</a>
        </li>
        <li class="main-header__item">
          <a class="nav-link router-link" routerLink="/prodPortal/profile" routerLinkActive="active">Edit Profile</a>
        </li>
        <li class="main-header__item">
          <a class="nav-link router-link" routerLink="/prodPortal/funds" routerLinkActive="active">Update Funds</a>
        </li>
        <li class="main-header__item">
          <a class="nav-link router-link" routerLink="" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
