<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Edit</title>
        <style>
            form {
                border-style: double;
                height: auto;
                margin: 1% 1% 1% 1%;
                padding: 1%;
            }
        </style>
	</head>
	
	<body>

        <form #empRef="ngForm" (ngSubmit)="resetPassword(empRef.value)">
            <h1><b>Edit Employee</b></h1>
            <h3>
                Username
                <br/>
                <input type="text" name="name" [(ngModel)]="name" required/>
            </h3>
            <h3>
                Current Password
                <br/>
                <input type="password" name="currentPassword" [(ngModel)]="currentPassword" required/>
            </h3>
            <h3>
                New Password
                <br/>
                <input type="password" name="newPassword" [(ngModel)]="newPassword" required/>
            </h3>
            <h3>
                Confirm Password
                <br/>
                <input type="password" name="newPassword2" [(ngModel)]="newPassword2" required/>
            </h3>
            <input type="reset" value="Clear"/>
            <input type="submit" value="Reset Password"/>
            <div>
                {{message}}
            </div>
        </form>
	</body>
</html>